Source: uiojs
Section: javascript
Priority: optional
Maintainer: Maud Spierings <maudspierings@gocontroll.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-nodejs,
 node-gyp,
 npm
Standards-Version: 4.6.2
Homepage: https://github.com/GOcontroll/uiojs

Package: node-uiojs
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 nodejs (>= ${nodejs:Version}),
Provides: ${nodejs:Provides}
Description: A node addon for making Userspace IO on Linux accessible by javascript

